@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #ffbf00;
	--color-error: #b42318;
	--color-grey-text: #444;
	--color-grey-background: #f8f8f8;
	--border: 1px solid rgba(0, 0, 0, 0.2);
	--radius-small: 8px;
	--radius-medium: 12px;
	--radius-large: 16px;
	--shadow-medium: 0 10px 30px rgba(0, 0, 0, 0.08);
}

* {
	margin: 0;
}

html {
	background-color: rgb(245, 245, 255);
}

body {
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	font-size: 1.5rem;
	line-height: 1.5em;
}

h1 {
	font-size: 2.2rem;
	margin: 0.8em 0px 0.4em 0px;
}

h2 {
	font-size: 1.8rem;
	font-style: italic;
	margin: 0.4em 0px;
	color: rgb(83, 187, 42);
}

h3 {
	font-size: 1.8rem;
	margin: 0.3em 0px;
}

h4 {
	font-size: 1.6rem;
	margin: 0.2em 0px;
}

h5 {
	font-size: 1.4rem;
	margin: 0.1em 0px;
}

h6 {
	font-size: 2rem;
}

p {
	margin: 0.5em 0px;
}

code {
	font-family: 'Courier New', Courier, monospace;
	background-color: rgb(245, 245, 255);
	border: var(--border);
	border-radius: 0.25em;
	padding: 0.125em 0.25em;
	white-space: nowrap;
}

.l0 {
	background-color: white;
	border: var(--border);
	border-radius: 0.8em;
	margin: 1em 0px;
	padding: 1em;
}

a,
a:visited {
	color: black;
}

a:hover,
a:focus {
	color: var(--color-primary);
}

.processing-status {
	font-size: 0.85rem;
	color: var(--color-grey-text);
}

.processing-error {
	color: var(--color-error);
}
